<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="MigrationQuery" value="insert into AttendanceMachinePolling select null as Id, cast([USERID] as nvarchar(50)) as Barcode, concat(cast(CHECKTIME as date), ' 00:00:00.000') as AttendanceDate, Cast(CHECKTIME as time(7)) as AttendanceTime, case when CHECKTYPE = 'o' then '1' else '0' end as AttendanceType, GETDATE() as CreatedDate from CHECKINOUT" /> 
     <add key="DebugConsole" value="false" />
     <add key="BackDay" value="7" /> 
     <add key="AccessConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:/Private/Coba-coba/attBackup.mdb" /> 
     <add key="SQLServerConnectionString" value="Data Source=localhost;Initial Catalog=DB_ATTD;Integrated Security=false;user id=sa;password=Sabeso76;" /> 
    <!--<add key="AccessConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Program Files (x86)\Attendance Management\att2000.mdb" />
    <add key="SQLServerConnectionString" value="Data Source=JIMSERVER1\SQL2014;Initial Catalog=JIM_ATT;Integrated Security=false;user id=sa;password=P@ssw0rd;" />-->
  </appSettings>
</configuration>