<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:/Private/Coba-coba/attBackup.mdb" />
    <add key="SQLServerConnectionString" value="Data Source=localhost;Initial Catalog=DB_ATTD;Integrated Security=false;user id=sa;password=Sabeso76;" />
  </appSettings>
</configuration>